.datePicker {
  z-index: 1;
  width: 559px;
  margin: auto;
}
.datePicker__guests {
  background-color: white;
  width: 579px;
}
.datePicker__guests > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 559px;
}

.datePicker__guests > input {
  padding: 20px;
  width: 539px;
  height: 30px;
  outline-width: 0;
  border: none;
}

.datePicker > center > button {
  color: white;
  background-color: #ff7779;
  width: 579px;
  border-radius: 0;
}

.datePicker > center > button:hover {
  background-color: white;
  color: #ff7779;
}
